In [1]:
import pandas as pd

In [2]:
example = pd.read_csv("C:/Users/USUARIO/OneDrive/Desktop/Análisis de Datos/Módulo Técnico/example_ventas.csv")

In [3]:
print(example)

         Fecha   Region      Producto Vendedor         Ventas
0   31/01/2024  Central    Accesorios    David    8,287.00 €
1   01/02/2024  Central    Accesorios    Karen    6,909.00 €
2   02/02/2024  Central  Dispositivos    David   11,420.00 €
3   03/02/2024  Central  Dispositivos    Karen   12,948.00 €
4   04/02/2024  Central      Sistemas    David   20,098.00 €
5   05/02/2024  Central      Sistemas    Karen   30,633.00 €
6   06/02/2024     Este    Accesorios      Ana    9,323.00 €
7   07/02/2024     Este    Accesorios    Lucas    7,667.00 €
8   08/02/2024     Este  Dispositivos      Ana   10,348.00 €
9   09/02/2024     Este  Dispositivos    Lucas    9,312.00 €
10  10/02/2024     Este      Sistemas      Ana   13,531.00 €
11  11/02/2024     Este      Sistemas    Lucas   13,374.00 €
12  12/02/2024    Oeste    Accesorios    Kevin    4,744.00 €
13  13/02/2024    Oeste    Accesorios     Sara    5,442.00 €
14  14/02/2024    Oeste  Dispositivos    Kevin   10,711.00 €
15  15/02/2024    Oeste  Dispositivos     Sara    8,780.00 €
16  16/02/2024    Oeste      Sistemas    Kevin   32,855.00 €
17  17/02/2024    Oeste      Sistemas     Sara   23,151.00 €

In [4]:
# Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
example.head(5)

Ejercicio 1: Mostrar las primeras filas del DataFrame

        Fecha   Region      Producto Vendedor         Ventas
0  31/01/2024  Central    Accesorios    David    8,287.00 €
1  01/02/2024  Central    Accesorios    Karen    6,909.00 €
2  02/02/2024  Central  Dispositivos    David   11,420.00 €
3  03/02/2024  Central  Dispositivos    Karen   12,948.00 €
4  04/02/2024  Central      Sistemas    David   20,098.00 €

In [5]:
# Ejercicio 2: Calcular el total de ventas por región

print("Ejercicio 2: Calcular el total de ventas por región")

def limpiarVentas(text):
    textLimpio = text.replace("€", "").replace(",", "")
    return pd.to_numeric(textLimpio)

example["Ventas"] = example["Ventas"].apply(limpiarVentas)

ventasPorRegion = example.groupby("Region")["Ventas"].sum()
print(ventasPorRegion)
print("\n")
print(example.head(10))

Ejercicio 2: Calcular el total de ventas por región
Region
Central    90295.0
Este       63555.0
Oeste      85683.0
Name: Ventas, dtype: float64


        Fecha   Region      Producto Vendedor   Ventas
0  31/01/2024  Central    Accesorios    David   8287.0
1  01/02/2024  Central    Accesorios    Karen   6909.0
2  02/02/2024  Central  Dispositivos    David  11420.0
3  03/02/2024  Central  Dispositivos    Karen  12948.0
4  04/02/2024  Central      Sistemas    David  20098.0
5  05/02/2024  Central      Sistemas    Karen  30633.0
6  06/02/2024     Este    Accesorios      Ana   9323.0
7  07/02/2024     Este    Accesorios    Lucas   7667.0
8  08/02/2024     Este  Dispositivos      Ana  10348.0
9  09/02/2024     Este  Dispositivos    Lucas   9312.0

In [6]:
# Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")

ventasDavid = example[example["Vendedor"] == "David"]
print(ventasDavid)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
        Fecha   Region      Producto Vendedor   Ventas
0  31/01/2024  Central    Accesorios    David   8287.0
2  02/02/2024  Central  Dispositivos    David  11420.0
4  04/02/2024  Central      Sistemas    David  20098.0

In [7]:
# Ejercicio 4: Calcular el promedio de ventas por región
print("Ejercicio 4: Calcular el promedio de ventas por región")

example["Ventas"] = pd.to_numeric(example["Ventas"])

ventasPorProducto = example.groupby("Region")["Ventas"].mean()
print(ventasPorProducto)

Ejercicio 4: Calcular el promedio de ventas por región
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [8]:
# Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
print("Ejercicio 5: Calcular el promedio de ventas por región con dos decimales")

ventasPorRegion = example.groupby("Region")["Ventas"].mean().round(2)

print(ventasPorRegion)

Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [9]:
# Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente

print("Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente")

exampleOrdenado = example.sort_values(by="Ventas", ascending=False)

print(exampleOrdenado)

Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
         Fecha   Region      Producto Vendedor   Ventas
16  16/02/2024    Oeste      Sistemas    Kevin  32855.0
5   05/02/2024  Central      Sistemas    Karen  30633.0
17  17/02/2024    Oeste      Sistemas     Sara  23151.0
4   04/02/2024  Central      Sistemas    David  20098.0
10  10/02/2024     Este      Sistemas      Ana  13531.0
11  11/02/2024     Este      Sistemas    Lucas  13374.0
3   03/02/2024  Central  Dispositivos    Karen  12948.0
2   02/02/2024  Central  Dispositivos    David  11420.0
14  14/02/2024    Oeste  Dispositivos    Kevin  10711.0
8   08/02/2024     Este  Dispositivos      Ana  10348.0
6   06/02/2024     Este    Accesorios      Ana   9323.0
9   09/02/2024     Este  Dispositivos    Lucas   9312.0
15  15/02/2024    Oeste  Dispositivos     Sara   8780.0
0   31/01/2024  Central    Accesorios    David   8287.0
7   07/02/2024     Este    Accesorios    Lucas   7667.0
1   01/02/2024  Central    Accesorios    Karen   6909.0
13  13/02/2024    Oeste    Accesorios     Sara   5442.0
12  12/02/2024    Oeste    Accesorios    Kevin   4744.0

In [10]:
# Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor

print("Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor")

exampleFiltrado = example[example["Ventas"] > 10000].sort_values(by="Ventas", ascending=True)
print(exampleFiltrado)

Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor
         Fecha   Region      Producto Vendedor   Ventas
8   08/02/2024     Este  Dispositivos      Ana  10348.0
14  14/02/2024    Oeste  Dispositivos    Kevin  10711.0
2   02/02/2024  Central  Dispositivos    David  11420.0
3   03/02/2024  Central  Dispositivos    Karen  12948.0
11  11/02/2024     Este      Sistemas    Lucas  13374.0
10  10/02/2024     Este      Sistemas      Ana  13531.0
4   04/02/2024  Central      Sistemas    David  20098.0
17  17/02/2024    Oeste      Sistemas     Sara  23151.0
5   05/02/2024  Central      Sistemas    Karen  30633.0
16  16/02/2024    Oeste      Sistemas    Kevin  32855.0

In [11]:
# Ejercicio 8: Ordenar el DataFrame por ventas en orden ascendente

print("Ejercicio 8: Ordenar el DataFrame por ventas en orden ascendente")

exampleAscendent = example.sort_values(by="Ventas", ascending=True)

print(exampleAscendent)

Ejercicio 8: Ordenar el DataFrame por ventas en orden ascendente
         Fecha   Region      Producto Vendedor   Ventas
12  12/02/2024    Oeste    Accesorios    Kevin   4744.0
13  13/02/2024    Oeste    Accesorios     Sara   5442.0
1   01/02/2024  Central    Accesorios    Karen   6909.0
7   07/02/2024     Este    Accesorios    Lucas   7667.0
0   31/01/2024  Central    Accesorios    David   8287.0
15  15/02/2024    Oeste  Dispositivos     Sara   8780.0
9   09/02/2024     Este  Dispositivos    Lucas   9312.0
6   06/02/2024     Este    Accesorios      Ana   9323.0
8   08/02/2024     Este  Dispositivos      Ana  10348.0
14  14/02/2024    Oeste  Dispositivos    Kevin  10711.0
2   02/02/2024  Central  Dispositivos    David  11420.0
3   03/02/2024  Central  Dispositivos    Karen  12948.0
11  11/02/2024     Este      Sistemas    Lucas  13374.0
10  10/02/2024     Este      Sistemas      Ana  13531.0
4   04/02/2024  Central      Sistemas    David  20098.0
17  17/02/2024    Oeste      Sistemas     Sara  23151.0
5   05/02/2024  Central      Sistemas    Karen  30633.0
16  16/02/2024    Oeste      Sistemas    Kevin  32855.0

In [12]:
# Ejercicio 9: Eliminar la columna vendedor

print("Ejercicio 9: Eliminar la columna vendedor")

exampleSinVendedor = example.drop(columns=["Vendedor"])

print(exampleSinVendedor)

Ejercicio 9: Eliminar la columna vendedor
         Fecha   Region      Producto   Ventas
0   31/01/2024  Central    Accesorios   8287.0
1   01/02/2024  Central    Accesorios   6909.0
2   02/02/2024  Central  Dispositivos  11420.0
3   03/02/2024  Central  Dispositivos  12948.0
4   04/02/2024  Central      Sistemas  20098.0
5   05/02/2024  Central      Sistemas  30633.0
6   06/02/2024     Este    Accesorios   9323.0
7   07/02/2024     Este    Accesorios   7667.0
8   08/02/2024     Este  Dispositivos  10348.0
9   09/02/2024     Este  Dispositivos   9312.0
10  10/02/2024     Este      Sistemas  13531.0
11  11/02/2024     Este      Sistemas  13374.0
12  12/02/2024    Oeste    Accesorios   4744.0
13  13/02/2024    Oeste    Accesorios   5442.0
14  14/02/2024    Oeste  Dispositivos  10711.0
15  15/02/2024    Oeste  Dispositivos   8780.0
16  16/02/2024    Oeste      Sistemas  32855.0
17  17/02/2024    Oeste      Sistemas  23151.0