In [79]:
import pandas as pd

In [100]:
example = pd.read_csv("C:/Users/USUARIO/OneDrive/Desktop/Análisis de Datos/Módulo Técnico/example_ventas.csv")

In [81]:
print(example)

         Fecha   Region      Producto Vendedor         Ventas
0   31/01/2024  Central    Accesorios    David    8,287.00 €
1   01/02/2024  Central    Accesorios    Karen    6,909.00 €
2   02/02/2024  Central  Dispositivos    David   11,420.00 €
3   03/02/2024  Central  Dispositivos    Karen   12,948.00 €
4   04/02/2024  Central      Sistemas    David   20,098.00 €
5   05/02/2024  Central      Sistemas    Karen   30,633.00 €
6   06/02/2024     Este    Accesorios      Ana    9,323.00 €
7   07/02/2024     Este    Accesorios    Lucas    7,667.00 €
8   08/02/2024     Este  Dispositivos      Ana   10,348.00 €
9   09/02/2024     Este  Dispositivos    Lucas    9,312.00 €
10  10/02/2024     Este      Sistemas      Ana   13,531.00 €
11  11/02/2024     Este      Sistemas    Lucas   13,374.00 €
12  12/02/2024    Oeste    Accesorios    Kevin    4,744.00 €
13  13/02/2024    Oeste    Accesorios     Sara    5,442.00 €
14  14/02/2024    Oeste  Dispositivos    Kevin   10,711.00 €
15  15/02/2024    Oeste  Dispositivos     Sara    8,780.00 €
16  16/02/2024    Oeste      Sistemas    Kevin   32,855.00 €
17  17/02/2024    Oeste      Sistemas     Sara   23,151.00 €

In [82]:
# Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
example.head(5)

Ejercicio 1: Mostrar las primeras filas del DataFrame

        Fecha   Region      Producto Vendedor         Ventas
0  31/01/2024  Central    Accesorios    David    8,287.00 €
1  01/02/2024  Central    Accesorios    Karen    6,909.00 €
2  02/02/2024  Central  Dispositivos    David   11,420.00 €
3  03/02/2024  Central  Dispositivos    Karen   12,948.00 €
4  04/02/2024  Central      Sistemas    David   20,098.00 €

In [101]:
# Ejercicio 2: Calcular el total de ventas por región

print("Ejercicio 2: Calcular el total de ventas por región")

def limpiarVentas(text):
    textLimpio = text.replace("€", "").replace(",", "")
    return pd.to_numeric(textLimpio)

example["Ventas"] = example["Ventas"].apply(limpiarVentas)

ventasPorRegion = example.groupby("Region")["Ventas"].sum()
print(ventasPorRegion)
print("\n")
print(example.head(10))

Ejercicio 2: Calcular el total de ventas por región
Region
Central    90295.0
Este       63555.0
Oeste      85683.0
Name: Ventas, dtype: float64


        Fecha   Region      Producto Vendedor   Ventas
0  31/01/2024  Central    Accesorios    David   8287.0
1  01/02/2024  Central    Accesorios    Karen   6909.0
2  02/02/2024  Central  Dispositivos    David  11420.0
3  03/02/2024  Central  Dispositivos    Karen  12948.0
4  04/02/2024  Central      Sistemas    David  20098.0
5  05/02/2024  Central      Sistemas    Karen  30633.0
6  06/02/2024     Este    Accesorios      Ana   9323.0
7  07/02/2024     Este    Accesorios    Lucas   7667.0
8  08/02/2024     Este  Dispositivos      Ana  10348.0
9  09/02/2024     Este  Dispositivos    Lucas   9312.0

In [102]:
# Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")

ventasDavid = example[example["Vendedor"] == "David"]
print(ventasDavid)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
        Fecha   Region      Producto Vendedor   Ventas
0  31/01/2024  Central    Accesorios    David   8287.0
2  02/02/2024  Central  Dispositivos    David  11420.0
4  04/02/2024  Central      Sistemas    David  20098.0

In [109]:
# Ejercicio 4: Calcular el promedio de ventas por región
print("Ejercicio 4: Calcular el promedio de ventas por región")

example["Ventas"] = pd.to_numeric(example["Ventas"])

ventasPorProducto = example.groupby("Region")["Ventas"].mean()
print(ventasPorProducto)

Ejercicio 4: Calcular el promedio de ventas por región
Region
Central    150491.666667
Este       105925.000000
Oeste      142805.000000
Name: Ventas, dtype: float64

In [110]:
# Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
print("Ejercicio 5: Calcular el promedio de ventas por región con dos decimales")

ventasPorRegion = example.groupby("Region")["Ventas"].mean().round(2)

print(ventasPorRegion)

Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
Region
Central    150491.67
Este       105925.00
Oeste      142805.00
Name: Ventas, dtype: float64

In [113]:
# Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente

print("Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente")

exampleOrdenado = example.sort_values(by="Ventas", ascending=False)

print(exampleOrdenado)

Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
         Fecha   Region      Producto Vendedor  Ventas
16  16/02/2024    Oeste      Sistemas    Kevin  328550
5   05/02/2024  Central      Sistemas    Karen  306330
17  17/02/2024    Oeste      Sistemas     Sara  231510
4   04/02/2024  Central      Sistemas    David  200980
10  10/02/2024     Este      Sistemas      Ana  135310
11  11/02/2024     Este      Sistemas    Lucas  133740
3   03/02/2024  Central  Dispositivos    Karen  129480
2   02/02/2024  Central  Dispositivos    David  114200
14  14/02/2024    Oeste  Dispositivos    Kevin  107110
8   08/02/2024     Este  Dispositivos      Ana  103480
6   06/02/2024     Este    Accesorios      Ana   93230
9   09/02/2024     Este  Dispositivos    Lucas   93120
15  15/02/2024    Oeste  Dispositivos     Sara   87800
0   31/01/2024  Central    Accesorios    David   82870
7   07/02/2024     Este    Accesorios    Lucas   76670
1   01/02/2024  Central    Accesorios    Karen   69090
13  13/02/2024    Oeste    Accesorios     Sara   54420
12  12/02/2024    Oeste    Accesorios    Kevin   47440