In [1]:
# Importar librerías

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/USUARIO/OneDrive/Desktop/Análisis de Datos/Módulo Técnico/dataset_banco.csv")

In [6]:
data_rename = df.rename(columns={"age": "edad",
                                 "job": "trabajo",
                                 "marital": "estado_civil",
                                 "education": "educacion",
                                 "default": "morosidad",
                                 "balance": "saldo",
                                 "housing": "vivienda",
                                 "loan": "prestamo",
                                 "contact": "contacto",
                                 "day": "dia",
                                 "month": "mes",
                                 "duration": "duracion",
                                 "campaign": "campana",
                                 "pdays": "dias_previos",
                                 "previous": "anterior",
                                 "poutcome": "resultado",
                                 "y": "resultado"}) 

print(data_rename.head(50))

    edad        trabajo estado_civil  educacion morosidad    saldo vivienda  \
0     58     management      married   tertiary        no   2143.0      yes
1     44     technician       single  secondary        no     29.0      yes
2     33   entrepreneur      married  secondary        no      2.0      yes
3     47    blue-collar      married    unknown        no   1506.0      yes
4     33        unknown       single    unknown        no      1.0       no
5     35     management      married   tertiary        no    231.0      yes
6     28     Management       single   tertiary        no    447.0      yes
7     42   entrepreneur         div.   tertiary       yes      2.0      yes
8     58        retired      married    primary        no    121.0      yes
9     43     technician       single  secondary        no    593.0      yes
10    41         admin.         div.  secondary        no    270.0      yes
11    29         admin.       single  secondary        no    390.0      yes
12    53     technician      married  secondary        no      6.0      yes
13    58     technician      married    unknown        no     71.0      yes
14    57       services      married  secondary        no    162.0      yes
15    51        retired      married    primary        no    229.0      yes
16    45         admin.       single    unknown        no     13.0      yes
17    57    blue-collar      married    primary        no     52.0      yes
18    60        retired      married    primary        no     60.0      yes
19    33       services      married  secondary        no      0.0      yes
20    28    blue-collar      married  secondary        no    723.0      yes
21    56     management      married   tertiary        no    779.0      yes
22    32    blue-collar       single    primary        no     23.0      yes
23    25       services      married  secondary        no     50.0      yes
24    40        retired      married    primary        no      0.0      yes
25    44         admin.      married  secondary        no   -372.0      yes
26    39     management       single   tertiary        no    255.0      yes
27    52   entrepreneur      married  secondary        no    113.0      yes
28    46     management       single  secondary        no   -246.0      yes
29    36     technician       single  secondary        no    265.0      yes
30    57     technician      married  secondary        no    839.0       no
31    49     management      married   tertiary        no    378.0      yes
32    60         admin.      married  secondary        no     39.0      yes
33    59    blue-collar      married  secondary        no      0.0      yes
34    51     management      married   tertiary        no  10635.0      yes
35    57     technician     divorced  secondary        no     63.0      yes
36    25    blue-collar      married  secondary        no     -7.0      yes
37    53     technician      married  secondary        no     -3.0       no
38    36         admin.     divorced  secondary        no    506.0      yes
39    37         admin.       single  secondary        no      0.0      yes
40    44       services     divorced  secondary        no   2586.0      yes
41    50     management      married  secondary        no     49.0      yes
42    60    blue-collar      married    unknown        no    104.0      yes
43    54        retired      married  secondary        no    529.0      yes
44    58        retired      married    unknown        no     96.0      yes
45    36         admin.       single    primary        no   -171.0      yes
46    58  self-employed      married   tertiary        no   -364.0      yes
47    44     technician      married  secondary        no      0.0      yes
48    55     technician     divorced  secondary        no      0.0       no
49    29     Management       single   tertiary        no      0.0      yes

   prestamo contacto  dia  mes  duracion  campana  dias_previos  anterior  \
0        no  unknown    5  may     261.0        1          -1.0         0
1        no  unknown    5  may     151.0        1          -1.0         0
2       yes  unknown    5  may      76.0        1          -1.0         0
3        no  unknown    5  may      92.0        1          -1.0         0
4        no  unknown    5  may     198.0        1          -1.0         0
5        no  unknown    5  may     139.0        1          -1.0         0
6       yes  unknown    5  may     217.0        1          -1.0         0
7        no  unknown    5  may     380.0        1          -1.0         0
8        no  unknown    5  may      50.0        1          -1.0         0
9        No  unknown    5  may      55.0        1          -1.0         0
10       no  unknown    5  may     222.0        1          -1.0         0
11       no  unknown    5  may     137.0        1          -1.0         0
12       no  unknown    5  may    -517.0        1          -1.0         0
13       no  unknown    5  may      71.0        1          -1.0         0
14       No  unknown    5  may     174.0        1          -1.0         0
15       no  unknown    5  may     353.0        1          -1.0         0
16       no  unknown    5  may      98.0        1          -1.0         0
17       no  unknown    5  may      38.0        1          -1.0         0
18       no  unknown    5  may     219.0        1          -1.0         0
19       no  unknown    5  may      54.0        1          -1.0         0
20      yes  unknown    5  may     262.0        1          -1.0         0
21       no  unknown    5  may     164.0        1          -1.0         0
22      yes  unknown    5  may     160.0        1          -1.0         0
23       no  unknown    5  may     342.0        1          -1.0         0
24      yes  unknown    5  may     181.0        1          -1.0         0
25       no  unknown    5  may     172.0        1          -1.0         0
26       no  unknown    5  may     296.0        1          -1.0         0
27      yes  unknown    5  may     127.0        1          -1.0         0
28       no  unknown    5  may     255.0        2          -1.0         0
29      yes  unknown    5  may     348.0        1          -1.0         0
30      yes  unknown    5  may     225.0        1          -1.0         0
31       no  unknown    5  may     230.0        1          -1.0         0
32      yes  unknown    5  may     208.0        1          -1.0         0
33       no  unknown    5  may     226.0        1          -1.0         0
34       no  unknown    5  may     336.0        1          -1.0         0
35       no  unknown    5  may     242.0        1          -1.0         0
36       no  unknown    5  may     365.0        1          -1.0         0
37       no  unknown    5  may    1666.0        1          -1.0         0
38       no  unknown    5  may     577.0        1          -1.0         0
39       no  unknown    5  may     137.0        1          -1.0         0
40       no  unknown    5  may     160.0        1          -1.0         0
41       no  unknown    5  may     180.0        2          -1.0         0
42       no  unknown    5  may      22.0        1          -1.0         0
43       no  unknown    5  may    1492.0        1          -1.0         0
44       no  unknown    5  may     616.0        1          -1.0         0
45       no  unknown    5  may     242.0        1          -1.0         0
46       no  unknown    5  may     355.0        1          -1.0         0
47       no  unknown    5  may     225.0        2          -1.0         0
48       no  unknown    5  may     160.0        1          -1.0         0
49       no  unknown    5  may     363.0        1          -1.0         0

   resultado resultado
0    unknown        no
1    unknown        no
2    unknown        no
3    unknown        no
4    unknown        no
5    unknown        no
6    unknown        no
7    unknown        no
8    unknown        no
9    unknown        no
10   unknown        no
11       UNK        no
12   unknown        no
13   unknown        no
14   unknown        no
15   unknown        no
16   unknown        no
17   unknown        no
18   unknown        no
19   unknown        no
20   unknown        no
21   unknown        no
22   unknown        no
23   unknown        no
24   unknown        no
25   unknown        no
26   unknown        no
27   unknown        no
28   unknown        no
29   unknown        no
30   unknown        no
31   unknown        no
32   unknown        no
33   unknown        no
34   unknown        no
35   unknown        no
36   unknown        no
37   unknown        no
38   unknown        no
39   unknown        no
40   unknown        no
41   unknown        no
42   unknown        no
43   unknown        no
44   unknown        no
45   unknown        no
46   unknown        no
47   unknown        no
48   unknown        no
49   unknown        no

In [14]:
df.columns = ["edad",
             "trabajo",
             "estado_civil",
             "educacion",
             "incumplimiento",
             "saldo",
             "vivienda",
             "prestamo",
             "contacto",
             "dia",
             "mes",
             "duracion",
             "campaña",
             "dias_previos",
             "anterior",
             "resultado_prev",
             "respuesta"]

print(df.columns)

Index(['edad', 'trabajo', 'estado_civil', 'educacion', 'incumplimiento',
       'saldo', 'vivienda', 'prestamo', 'contacto', 'dia', 'mes', 'duracion',
       'campaña', 'dias_previos', 'anterior', 'resultado_prev', 'respuesta'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            45215 non-null  int64
 1   trabajo         45213 non-null  object
 2   estado_civil    45214 non-null  object
 3   educacion       45214 non-null  object
 4   incumplimiento  45215 non-null  object
 5   saldo           45213 non-null  float64
 6   vivienda        45215 non-null  object
 7   prestamo        45215 non-null  object
 8   contacto        45215 non-null  object
 9   dia             45215 non-null  int64
 10  mes             45215 non-null  object
 11  duracion        45214 non-null  float64
 12  campaña         45215 non-null  int64
 13  dias_previos    45214 non-null  float64
 14  anterior        45215 non-null  int64
 15  resultado_prev  45215 non-null  object
 16  respuesta       45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [16]:
categoricas = df.select_dtypes(include=["object"]).columns.tolist()
numericas = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
print("Columnas categóricas:", categoricas)
print("Columnas numéricas:", numericas)

Columnas categóricas: ['trabajo', 'estado_civil', 'educacion', 'incumplimiento', 'vivienda', 'prestamo', 'contacto', 'mes', 'resultado_prev', 'respuesta']
Columnas numéricas: ['edad', 'saldo', 'dia', 'duracion', 'campaña', 'dias_previos', 'anterior']

In [38]:
pd.value_counts(df["trabajo"])

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_10620\3888142606.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df["trabajo"])

trabajo
blue-collar       9731
management        9455
technician        7599
admin.            5168
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: count, dtype: int64

In [40]:
# Contar los valores faltantes del dataframe

df.isna().sum()

edad              0
trabajo           2
estado_civil      1
educacion         1
incumplimiento    0
saldo             2
vivienda          0
prestamo          0
contacto          0
dia               0
mes               0
duracion          1
campaña           0
dias_previos      1
anterior          0
resultado_prev    0
respuesta         0
dtype: int64

In [42]:
# eliminar los valores faltantes del dataframe
df.dropna(inplace=True)
# conteo de valores por columna del dataframe
df.count()

edad              45207
trabajo           45207
estado_civil      45207
educacion         45207
incumplimiento    45207
saldo             45207
vivienda          45207
prestamo          45207
contacto          45207
dia               45207
mes               45207
duracion          45207
campaña           45207
dias_previos      45207
anterior          45207
resultado_prev    45207
respuesta         45207
dtype: int64